# Normalize line endings for files detected as text
*                 text=auto

# Source
*.go              text diff=golang
*.html            text diff=html
*.css             text diff=css
*.js              text

# Go module files
*.mod             text eol=lf
*.sum             text eol=lf

# Config
*.json            text

# Graphics
*.ai              binary
*.bmp             binary
*.eps             binary
*.gif             binary
*.gifv            binary
*.ico             binary
*.jng             binary
*.jp2             binary
*.jpg             binary
*.jpeg            binary
*.jpx             binary
*.jxr             binary
*.pdf             binary
*.png             binary
*.psb             binary
*.psd             binary
# SVG treated as an asset (binary) by default.
# *.svg             text
# If you want to treat it as binary,
# use the following line instead.
*.svg             binary
*.svgz            binary
*.tif             binary
*.tiff            binary
*.wbmp            binary
*.webp            binary

# Scripts
*.bash            text eol=lf
*.fish            text eol=lf
*.ksh             text eol=lf
*.sh              text eol=lf
*.zsh             text eol=lf
# These are explicitly windows files and should use crlf
*.bat             text eol=crlf
*.cmd             text eol=crlf
*.ps1             text eol=crlf

# Documentation
*.markdown        text diff=markdown
*.md              text diff=markdown
*.mdwn            text diff=markdown
*.mdown           text diff=markdown
*.mkd             text diff=markdown
*.mkdn            text diff=markdown
*.mdtxt           text
*.mdtext          text
*.txt             text
AUTHORS           text
CHANGELOG         text
CHANGES           text
CONTRIBUTING      text
COPYING           text
copyright         text
*COPYRIGHT*       text
INSTALL           text
license           text
LICENSE           text
NEWS              text
readme            text
*README*          text
TODO              text

# Ignore files
*.*ignore         text
