{{ define "main" }}
   {{ if .AlreadyExists }}
   <div class="py-2 px-4 mb-6 rounded-md border text-sm border-ctp-peach bg-ctp-surface0 text-ctp-subtext0">
     A link with this short name already exists.{{ if .Editable }} You can edit it below.{{ end }}
   </div>
   {{ end }}
   <h2 class="text-xl font-bold pb-2">Link Details</h2>

    {{ if .Editable }}
    <form method="POST" action="/">
      <input type="hidden" name="xsrf" value="{{ .XSRF }}" />
      <div class="flex flex-wrap">
        <div class="flex">
          <label for=short class="flex my-2 px-2 items-center bg-ctp-mantle border border-r-0 border-ctp-surface2 rounded-l-md text-ctp-subtext0">http://{{go}}/</label>
          <input id=short name=short required type=text size=15 placeholder="shortname" value="{{.Link.Short}}" pattern="\w[\w\-\.]*" title="Must start with letter or number; may contain letters, numbers, dashes, and periods."
            class="p-2 my-2 rounded-r-md border-ctp-surface2 placeholder:text-ctp-overlay1 disabled:bg-ctp-surface1 dark:bg-ctp-surface0 dark:text-ctp-text dark:disabled:bg-ctp-surface1">
          <span class="flex m-2 items-center">&rarr;</span>
        </div>
        <input name=long required type=text size=40 placeholder="https://destination-url" value="{{.Link.Long}}" class="p-2 my-2 mr-2 max-w-full rounded-md border-ctp-surface2 placeholder:text-ctp-overlay1 disabled:bg-ctp-surface1 dark:bg-ctp-surface0 dark:text-ctp-text dark:disabled:bg-ctp-surface1">
      </div>

      <p class="text-sm text-ctp-overlay2"><a class="text-ctp-blue hover:underline" href="/.help">Help and advanced options</a></p>

      <label for=owner class="text-sm font-bold block mt-4">Owner</label>
      <input id=owner name=owner required type=text size=25 placeholder="Owner" value="{{.Link.Owner}}" class="p-2 rounded-md border-ctp-surface2 placeholder:text-ctp-overlay1 disabled:bg-ctp-surface1 dark:bg-ctp-surface0 dark:text-ctp-text dark:disabled:bg-ctp-surface1">

      <dl>
        <dt class="text-sm font-bold mt-6">Date Created</dt>
        <dd>{{.Link.Created.Format "Jan _2, 2006 3:04pm MST"}}</dd>

        <dt class="text-sm font-bold mt-6">Date Last Edited</dt>
        <dd>{{.Link.LastEdit.Format "Jan _2, 2006 3:04pm MST"}}</dd>
      </dl>

      <button type=submit class="py-2 px-4 my-4 rounded-md bg-ctp-blue border-ctp-blue text-ctp-base hover:bg-ctp-sapphire hover:border-ctp-sapphire">Update</button>
    </form>

    <h3 class="text-lg font-bold pb-2 pt-4 text-ctp-red">Danger Zone</h3>

    <form method="POST" action="/.delete/{{.Link.Short}}">
      <input type="hidden" name="xsrf" value="{{ .XSRF }}" />
      <button type=submit class="py-2 px-4 my-2 rounded-md bg-ctp-red border-ctp-red text-ctp-base hover:bg-ctp-maroon hover:border-ctp-maroon">Delete Link</button>
    </form>

    {{ else }}
    <dl>
      <dt class="text-sm font-bold mt-6">Name</dt>
      <dd><a class="text-ctp-blue hover:underline" href="/{{.Link.Short}}">{{go}}/{{.Link.Short}}</a></dd>

      <dt class="text-sm font-bold mt-6">Destination</dt>
      <dd>{{.Link.Long}}</dd>

      <dt class="text-sm font-bold mt-6">Owner</dt>
      <dd>{{.Link.Owner}}</dd>

      <dt class="text-sm font-bold mt-6">Date Created</dt>
      <dd>{{.Link.Created.Format "Jan _2, 2006 3:04pm MST"}}</dd>

      <dt class="text-sm font-bold mt-6">Date Last Edited</dt>
      <dd>{{.Link.LastEdit.Format "Jan _2, 2006 3:04pm MST"}}</dd>
    </dl>
    {{ end }}
{{ end }}
