{{ define "main" }}
   <h2 class="text-xl font-bold pb-2">Link Details</h2>

    {{ if .Editable }}
    <form method="POST" action="/">
      <input type="hidden" name="xsrf" value="{{ .XSRF }}" />
      <div class="flex flex-col gap-2">
        <div class="flex items-center mb-4">
          <label for="short" class="text-sm font-medium text-gray-400 w-32 mr-4">Shortlink</label>
          <span class="text-gray-500 text-sm mr-4">https://{{go}}/</span>
          <div class="flex-1 relative pl-4">
            <input id="short" name="short" required type="text" placeholder="Enter shortname" value="{{.Link.Short}}" pattern="\w[\w\-\.]*" title="Must start with letter or number; may contain letters, numbers, dashes, and periods."
              style="border: 1px solid #D0D5DD; box-shadow: 0 1px 2px #1018280D; padding: 8px 12px; border-radius: 8px;"
              class="w-full focus:ring-primary focus:border-primary placeholder:text-gray-600 text-sm text-gray-900">
          </div>
        </div>
        <div class="flex items-center mb-4">
          <label for="long" class="text-sm font-medium text-gray-400 w-32 mr-4">Destination URL</label>
          <input id="long" name="long" required type="text" placeholder="https://destination-url" value="{{.Link.Long}}"
            style="border: 1px solid #D0D5DD; box-shadow: 0 1px 2px #1018280D; padding: 8px 12px; border-radius: 8px;"
            class="flex-1 focus:ring-primary focus:border-primary placeholder:text-gray-600 text-sm text-gray-900">
        </div>
        <div class="flex items-center mb-4">
          <label for="long" class="text-sm font-medium text-gray-400 w-32 mr-4">Owner</label>
          <input id=owner name=owner required type=text placeholder="Owner" value="{{.Link.Owner}}" style="border: 1px solid #D0D5DD; box-shadow: 0 1px 2px #1018280D; padding: 8px 12px; border-radius: 8px;"
          class="flex-1 focus:ring-primary focus:border-primary placeholder:text-gray-600 text-sm text-gray-900">
        </div>
        <p class="text-sm text-gray-500"><a class="advanced-options-link hover:underline" href="/.help">Help and advanced options</a></p>
        <dl>
          <dt class="text-sm font-bold mt-6">Date Created</dt>
          <dd>{{.Link.Created.Format "Jan _2, 2006 3:04pm MST"}}</dd>
          <dt class="text-sm font-bold mt-6">Date Last Edited</dt>
          <dd>{{.Link.LastEdit.Format "Jan _2, 2006 3:04pm MST"}}</dd>
        </dl>
        <div class="flex items-center mb-4">
          <button type=submit class="inline-flex items-center px-3 py-2 border border-transparent create-button text-white bg-primary hover:bg-primary-dark focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary rounded-lg">Update</button>
        </div>
      </div>
    </form>

    <h3 class="text-lg font-bold pb-2 pt-4 text-error">Danger Zone</h3>
    <form method="POST" action="/.delete/{{.Link.Short}}">
      <input type="hidden" name="xsrf" value="{{ .XSRF }}" />
      <button type=submit class="inline-flex items-center px-3 py-2 border border-transparent create-button text-white bg-error hover:bg-error-dark focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-error rounded-lg">Delete Link</button>
    </form>

    {{ else }}
    <dl>
      <dt class="text-sm font-bold mt-6">Name</dt>
      <dd><a class="advanced-options-link hover:underline" href="/{{.Link.Short}}">{{go}}/{{.Link.Short}}</a></dd>
      <dt class="text-sm font-bold mt-6">Destination</dt>
      <dd>{{.Link.Long}}</dd>
      <dt class="text-sm font-bold mt-6">Owner</dt>
      <dd>{{.Link.Owner}}</dd>
      <dt class="text-sm font-bold mt-6">Date Created</dt>
      <dd>{{.Link.Created.Format "Jan _2, 2006 3:04pm MST"}}</dd>
      <dt class="text-sm font-bold mt-6">Date Last Edited</dt>
      <dd>{{.Link.LastEdit.Format "Jan _2, 2006 3:04pm MST"}}</dd>
    </dl>
    {{ end }}
{{ end }}