{{ define "main" }}
    <h2 class="text-xl font-bold pb-2">Create a new link</h2>

    <form method="POST" action="/" class="flex flex-wrap">
      <div class="flex">
        <label for=short class="flex my-2 px-2 items-center bg-gray-100 border border-r-0 border-gray-300 rounded-l-md text-gray-700">http://go/</label>
        <input id=short name=short required type=text size=15 placeholder="shortname" value="{{.Short}}" pattern="\w[\w\-\.]*" title="Must start with letter or number; may contain letters, numbers, dashes, and periods."
          class="p-2 my-2 rounded-r-md border-gray-300 placeholder:text-gray-400">
        <span class="flex m-2 items-center">&rarr;</span>
      </div>
      <input name=long required type=text size=40 placeholder="https://destination-url"{{if .Short}} autofocus{{end}} class="p-2 my-2 mr-2 max-w-full rounded-md border-gray-300 placeholder:text-gray-400">
      <button type=submit class="py-2 px-4 my-2 rounded-md bg-blue-500 border-blue-500 text-white hover:bg-blue-600 hover:border-blue-600">Create</button>
    </form>
    <p class="text-sm text-gray-500"><a class="text-blue-600 hover:underline" href="/.help">Help and advanced options</a></p>

    <h2 class="text-xl font-bold pt-6 pb-2">Popular Links</h2>
    <table class="table-auto ">
      <thead class="border-b border-gray-200 uppercase text-xs text-gray-500 text-left">
        <tr>
          <th class="p-2">Link</th>
          <th class="p-2">Clicks</th>
        </tr>
      </thead>
      <tbody>
      {{range .Clicks}}
        <tr class="hover:bg-gray-100 border-b border-gray-200"><td><a class="block p-2 pr-8 hover:text-blue-500 hover:underline" href="/{{.Short}}">go/{{.Short}}</a></td><td class="p-2">{{.NumClicks}}</td></tr>
      {{end}}
      </tbody>
    </table>
{{ end }}
