name: tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '*'
      - 'release-branch/*'

concurrency:
  group: ${{ github.workflow }}-$${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-go@v3
        with:
          go-version-file: go.mod
          cache: true

      - name: Run go test
        run: go test ./...
